    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');
    /*import stylesheet*/
    
    @import url('./navbar-large/navbar-large.css');
    @import url('./header-small/header-small.css');
    @import url('./lang-switch/lang-switch.css');
    @import url('./main-page/main-page.css');
    @import url(./about/about.css);
    @import url('./portfolio/portfolio.css');
    @import url('./contact/contact.css');
    @import url('./email-validation/email-validation.css');
    @import url('./popup/popup.css');
    @import url(./spinner/spinner.css);
    @import url('./footer/footer.css');
    /* Root Element Style */
    
    $header-height: 3rem;
    /*-----Colors-----*/
    
    $title-color: #000;
    $first-color: #feb6ad;
    $second-color: #fbc3bc;
    $text-color-light: rgb(105,
    105,
    105);
    $nav-link-color:#435058;
    $scroll-bar-color: #f5f5f5e5;
    $scroll-thumb-color: #e18376;
    $background-even: #fbc3bc34;
    /*-----Font-size-----*/
    
    $big-font-size: 2rem;
    $h1-font-size: 1.5rem;
    $h2-font-size: 1.25rem;
    $normal-font-size: .938rem;
    $small-font-size: .813rem;
    /*-----Font-weight-----*/
    
    $font-medium: 500;
    /*-----Z-index-----*/
    
    $z-fixed: 100;
    /* Font size for large devices */
    
    @media screen and (min-width: 968px) {
        $big-font-size: 3rem;
        $h1-font-size: 2.25rem;
        $h2-font-size: 1.5rem;
        $h3-font-size: 1.25rem;
        $normal-font-size: 1rem;
        $small-font-size: .875rem;
    }
    /* General style */
    
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: "Poppins", sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        overflow-x: hidden;
    }
    
    body::-webkit-scrollbar {
        width: 6px;
    }
    
    body::-webkit-scrollbar-track {
        background-color: $scroll-bar-color;
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: $scroll-thumb-color;
        border-radius: 30px;
    }
    
    li a {
        text-decoration: none;
        margin: 0 0.7vw;
    }
    
    li {
        position: relative;
    }
    
    li a::before {
        content: "";
        display: block;
        height: 3px;
        width: 0%;
        position: absolute;
        transition: all ease-in-out 250ms;
        margin: 0% 0 0 10%;
    }
    
    li a:hover::before {
        width: 80%;
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    .section {
        padding: 2rem 0 4rem;
        min-height: 100vh;
    }
    
    .section:nth-child(even) {
        background-color: $background-even;
    }
    
    .container {
        padding: 10px 2%;
    }
    
    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 30px 30px 30px;
    }
    
    @media only screen and (max-width: 801px) {
        .row h1 {
            padding-top: 30px;
        }
    }
    
    .grid {
        display: grid;
        gap: 1.5rem;
    }