/* General style */

@import '../_mixins/mixins.scss';
@import '../_root/root-styles.scss';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        background-color: $scroll-bar-color;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $scroll-thumb-color;
        border-radius: 30px;
    }
}

li {
    position: relative;
    a {
        text-decoration: none;
        margin: 0 0.7vw;
        &::before {
            content: "";
            display: block;
            height: 3px;
            width: 0%;
            position: absolute;
            transition: all ease-in-out 250ms;
            margin: 0% 0 0 10%;
        }
        &:hover::before {
            width: 80%;
        }
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 2rem 0 4rem;
    min-height: 100vh;
    &:nth-child(even) {
        background-color: $background-even;
    }
}

.container {
    padding: 10px 2%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 30px 30px;
    & h1 {
        @include screen-size(screen-breakpoint) {
            padding-top: 30px;
        }
    }
}

.grid {
    display: grid;
    gap: 1.5rem;
}